This is the personal details of Trainer
<p> <strong> Email: </strong><%= @trainer.Email %> </strong> </p>
<p> <strong> Name: </strong><%= @trainer.Name %> </strong> </p>
<p> <strong> Experience: </strong><%= @trainer.Experience %> </strong> </p>
<p> <strong> Fees: </strong><%= @trainer.fees %> </strong> </p>
<p> <strong> Description </strong><%= @trainer.Description %> </strong> </p>
<p> <%= link_to 'Back to Trainers List', trainer_index_path %> </p>