<p> <strong> Email: </strong> <%= @gyms.Email %> </p>
<p> <strong> Name: </strong> <%= @gyms.Name %>  </p>
<p> <strong> City: </strong> <%= @gyms.City %>  </p>
<p> <strong> Fees: </strong> <%= @gyms.Fees %>  </p>
<p> <strong> Description: </strong> <%= @gyms.Description %> </p>
<p> <strong> Owner: </strong> <%= @gyms.Owner %> </p>