<p> <strong> Email: </strong> <%= @gym.Email %> </p>
<p> <strong> Name: </strong> <%= @gym.Name %>  </p>
<p> <strong> City: </strong> <%= @gym.City %>  </p>
<p> <strong> Fees: </strong> <%= @gym.Fees %>  </p>
<p> <strong> Description: </strong> <%= @gym.Description %> </p>
<p> <strong> Owner: </strong> <%= @gym.Owner %> </p>