<p1> <strong> Email: </strong><%= @trainer.Email %> </strong> </p>
<p1> <strong> Name: </strong><%= @trainer.Name %> </strong> </p>
<p1> <strong> Experience: </strong><%= @trainer.Experience %> </strong> </p>
<p1> <strong> Fees: </strong><%= @trainer.Fees %> </strong> </p>
<p1> <strong> Description </strong><%= @trainer.Description %> </strong> </p>