This is the personal details of Trainer
<p> <strong> Email: </strong><%= @trainers.Email %> </strong> </p>
<p> <strong> Name: </strong><%= @trainers.Name %> </strong> </p>
<p> <strong> Experience: </strong><%= @trainers.Experience %> </strong> </p>
<p> <strong> Fees: </strong><%= @trainers.Fees %> </strong> </p>
<p> <strong> Description </strong><%= @trainers.Description %> </strong> </p>